<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>wedding</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>displayCount</param-name>
    <param-value>10</param-value>
  </context-param>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.wedding.web.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadAllProductServlet</servlet-name>
    <servlet-class>com.wedding.web.servlet.LoadAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllProductServlet</servlet-name>
    <url-pattern>/LoadAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveProductServlet</servlet-name>
    <servlet-class>com.wedding.web.servlet.SaveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProductServlet</servlet-name>
    <url-pattern>/SaveProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.wedding.web.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadAllDiscountServlet</servlet-name>
    <servlet-class>com.wedding.web.servlet.LoadAllDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllDiscountServlet</servlet-name>
    <url-pattern>/LoadAllDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DeleteDiscountServlet</servlet-name>
  <servlet-class>com.wedding.web.servlet.DeleteDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteDiscountServlet</servlet-name>
  <url-pattern>/DeleteDiscountServlet</url-pattern>
  </servlet-mapping>
</web-app>